<%- include("./partials/header.ejs") %>
<h2>Home Page</h2>
<form method="POST" action="/formData">
    <input type="text" placeholder="Enter name" name="name" ><br>
    <input type="tel" placeholder="Enter phone no" name="phone"><br>
    <input type="email" placeholder="Enter email" name="email">
    <button type="submit">Submit</button>
</form>
<%- include("./partials/footer.ejs") %>