*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    background-color: aliceblue;
    width: 600px;
    height: 700px;
    border-radius: 2px solid black;
    >h3{
        text-align: center;
        color: blue;
        +ol{
            li{

            }
            +div{
                >p{

                }
            }
        }
    }
}