.container{
    width: 300px;
    height: auto;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    
    gap: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(254, 249, 249);
    
    
}

.btn-container{
    border-radius: 10px;
    background-color: blue;
    padding: 10px;
}
.ans-box{
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    background-color: black;
    border: 1px solid white;
    /* border-bottom: 10px solid white; */
    /* display: flex; */
    display: flex;                
    justify-content: flex-end;   
    align-items: center; 
    border-radius: 10px;
    margin-right: 10px;

    font-size: 30px;
    color: white;
    text-align: right;
    padding-right: 3px;

}

.btn{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.btn1{
    background-color: azure;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10%;
    font-size: 20px;
}

.button-box5{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;;
}

.btn17, .btn18{
    height: 50px;
    /* width: 220px; */
    width: 48%;
    border-radius: 5px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    /* margin: 10px; */
}

.btn17{
    background-color: rgb(48, 33, 102);
    color: white;
    border: 1px solid black;
}

.btn18{
    background-color: rgb(179, 20, 20);
    color: white;
    border: 1px solid black;
}

.del{
    background-color: rgb(48, 33, 102);
    color: white;
    border: 1px solid black;
}