<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="navbar-1">
                <div class="menu">
                    <p>Courses</p> <img class="menu-img" src="/media/down.png">
                    <p>Tutorials </p> <img class="menu-img" src="/media/down.png">
                    <p>Practice</p> <img class="menu-img" src="/media/down.png">
                    <p>Jobs</p> <img class="menu-img" src="/media/down.png">
                </div>

                <div class="gfg-img">
                    <img src="https://media.geeksforgeeks.org/gfg-gg-logo.svg">
                </div>
                <div class="rightmost">
                    <div class="search-input">
                        <img class="input-img" src="/media/search.png">
                        <input type="text" placeholder="type something">
                        <i class="fa-solid fa-times"></i>
                    </div>
                    <div class="right-imgs">
                        <img class="nav-1-img" src="/media/mode.png">
                        <img class="nav-1-img" src="/media/active.png">
                        <img class="nav-1-img" src="/media/language.png">
                    </div>

                </div>
                <div class="profile">
                    <i></i>
                </div>
            </div>
            <div class="navbar-2">
                <p>DSA</p>
                <p>Practice Problems</p>
                <p>C++</p>
                <p>C++</p>
                <p>Java</p>
                <p>Python</p>
                <p>JavsScript</p>
                <p>Data Science</p>
                <p>Machine Learning</p>
                <p>Courses</p>
                <p>Linux</p>
                <p>Devops</p>
                <p>SQL</p>
                <p>Web Development</p>
                <p>System Design</p>
                <p>Aptitude</p>
                
            </div>
        </div>
        <div class="search-section">
            <h1>Hello, What Do You Want To Learn?</h1>
            <input type="text" placeholder="Data Structures And Algorithms"><img src="">
            <div class="courses">
                <div class="course">Full Stack Live Classes</div>
                <div class="course">DSA: Basic To Advanced Course</div>
                <div class="course">Master DS & ML</div>
            </div>
        </div>
        <div class="course-heading">
            <p>Courses</p>
        </div>
        <div class="card-container">

            <div class="card card-1">
                <img class="head-img"
                    src="https://media.geeksforgeeks.org/img-practice/prod/courses/891/Mobile/Content/Tayyari_1747900034.webp">
                <div class="middle">
                    <div>
                        <p>Placement Taiyari With DSA</p>
                    </div>

                    <div class="beg">
                        <icon></icon>
                        <p>Beginner to Advance</p>
                    </div>
                </div>
                <div class="explore-section">

                    <p>
                        <icon></icon>14k+ interested Geeks
                    </p>
                    <a href="">Explore now</a>
                </div>
            </div>
            <div class="card card-2">
                <img class="head-img"
                    src="https://media.geeksforgeeks.org/img-practice/prod/courses/504/Mobile/Other/Course_DSA_to_Dev_1720846081.webp">
                <div class="middle">
                    <div>
                        <p>DSA to Development: A Complete Guide</p>
                    </div>

                    <div class="beg">
                        <icon></icon>
                        <p>Beginner to Advance</p>
                    </div>
                </div>
                <div class="explore-section">

                    <p>
                        <icon></icon>14k+ interested Geeks
                    </p>
                    <a href="">Explore now</a>
                </div>
            </div>
            <div class="card card-3">
                <img class="head-img"
                    src="https://media.geeksforgeeks.org/img-practice/prod/courses/227/Mobile/Other/Course_Backend_1720846992.webp">
                <div class="middle">
                    <div>
                        <p>JAVA Backend Development - Live</p>
                    </div>

                    <div class="beg">
                        <icon></icon>
                        <p>Beginner to Advance</p>
                    </div>
                </div>
                <div class="explore-section">

                    <p>
                        <icon></icon>14k+ interested Geeks
                    </p>
                    <a href="">Explore now</a>
                </div>
            </div>
            <div class="card card-4">
                <img class="head-img"
                    src="https://media.geeksforgeeks.org/img-practice/prod/courses/458/Mobile/Other/Course_Tech_Int_1720846791.webp">
                <div class="middle">
                    <div>
                        <p>Tech Interview 101 - From DSA to System Design for Workin...</p>
                    </div>

                    <div class="beg">
                        <icon></icon>
                        <p>Beginner to Advance</p>
                    </div>
                </div>
                <div class="explore-section">

                    <p>
                        <icon></icon>14k+ interested Geeks
                    </p>
                    <a href="">Explore now</a>
                </div>
            </div>
            <div class="card card-5">
                <img class="head-img"
                    src="https://media.geeksforgeeks.org/img-practice/prod/courses/241/Web/Content/FSRNL_1705410152.webp">
                <div class="middle">
                    <div>
                        <p>Full Stack Development with React & Node JS - Live</p>
                    </div>

                    <div class="beg">
                        <icon></icon>
                        <p>Beginner to Advance</p>
                    </div>
                </div>
                <div class="explore-section">

                    <p>
                        <icon></icon>14k+ interested Geeks
                    </p>
                    <a href="">Explore now</a>
                </div>
            </div>
            <div class="card card-6">
                <img class="head-img"
                    src="https://media.geeksforgeeks.org/img-practice/prod/courses/221/Web/Content/cpp_1723009538.webp">
                <div class="middle">
                    <div>
                        <p>C++ Programming Course Online - Complete Begineer t..</p>
                    </div>

                    <div class="beg">
                        <icon></icon>
                        <p>Beginner to Advance</p>
                    </div>
                </div>
                <div class="explore-section">

                    <p>
                        <icon></icon>14k+ interested Geeks
                    </p>
                    <a href="">Explore now</a>
                </div>
            </div>
        </div>

        <!--Must Explore Section-->

        <div class="must-explore-section">
            <div class="must-e">
                <h3>Must Explore</h3>
            </div>
            <div class="must-explore">
                <div class="explore-1">
                    <p>Jobs For you</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="explore-1">
                    <p>Hire With us</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="explore-1">
                    <p>Advertise With Us</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="explore-1">
                    <p>Placement Training</p>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
</body>

</html>